@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');



html{
    /* плавный скрол */
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    background-color: var(--white);
}

.container {
    margin: 0 auto;
    max-width: 1396px;
    padding: 0 15px;

}
.container__sm {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}




.none{
    display: none;
}